.App {
  text-align: center;
  margin: 0 10%;
}
.box {
  width: 350px;
  height: 350px;
  position: absolute;
  top: -10%;
  right: -5%;
  border-radius: 100px;
  background-color: rgb(173, 73, 255);
  filter: blur(50px);
  -webkit-filter: blur(150px);
}
.heading-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-container img{
  width: 64px;
}
.addtodo-form{
  margin: 5% 0;
}
.addtodo-input{
  border-radius: 5px 0 0 5px;
  border: none;
  width: 80%;
  padding: 15px;
  
  background:white;
  background:rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.addtodo-btn{
  border-radius: 0 5px 5px 0;
  border: none;
  padding: 15px;
  background-color: rgb(37, 37, 37);
  color: white;
  transition: all 0.4s;
}
.addtodo-btn:hover{
  cursor: pointer;
  box-shadow: inset -15px 13px 15px #31313126, inset -6px 7px 20px #b3b3b326, inset -1px 7px 6px 1px #6d595926;
}
.todo-container {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5%;
  
  background:white;
  background:rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.todo-container li {
  text-decoration: none;
  list-style: none;
}

.cancel-btn {
  background-color: transparent;
  border: none;
  transition: all 0.2s ease-out;
}

.cancel-btn:hover{
  cursor: pointer;
  transform: scale(0.9);
}

.cancel-btn svg {
  color: red;
}